.question {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-size: 26px;
    letter-spacing: 0;
    line-height: 1.2;
    width: 100%;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-left: 15px;
    margin-right: 15px;
}

.question .question-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    min-height: 78px;
    margin-left: 10px;
    margin-right: 10px;
}

.question .question-text .category{
    position: absolute;
    top: -20px;
    left: 0;
    min-width: 80px;
    text-align: center;
    box-shadow: 1px 3px 9px 0px rgba(0, 0, 0, 0.12);
    background-color: #00dbff;
    overflow: visible;
    border-radius: 6px;
    border: 1px solid #ffffff;
    color: white;
    padding: 5px;
}

/* .question .question-text .title{

} */

.question .question-text .text{
    padding: 30px 15px 15px 15px;
    font-weight: 600;
}

.answers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
}

.answers .answer-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* max-width: 420px; */
}

.question-image-cover{
    width: 95%;
    text-align: center;
    background: rgba(0,0,0,.7);
    margin: 2% 0;
    border-radius: 10px;
    height: 400px;
    overflow: hidden;
}

/* .answer-buttons{
    max-width: 420px;   
    text-align: center;
} */

.question-image {
    height: 400px;
    overflow: visible;
}


@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .question {
        font-size: 18px;
    }
    
    .question-image-cover{
        height: auto;
    }
    .question-image{
        height: auto;
        width:100%;
    }
  }
  